<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Editar Categoria</title>
</head>
<body>
	<div align="center"> 
		<h1>Editar Categoria</h1>
		<br />
		<form action="#" th:action="@{/categoria/guardar}" th:object="${categoria}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>ID categoria:</td>
					<td><input type="text" th:field="*{idCategoria}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>codigo:</td>
					<td><input type="text" th:field="*{codigo}" /></td>
				</tr>
				<tr>
					<td>descripcion:</td>
					<td><input type="text" th:field="*{descripcion}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>