<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Listar Categoria</title>
</head>
<body>
<div align="center">
  <h1>Categoria</h1>
  <a  th:href="@{/Categoria/create}">Create Nueva Categoria</a> <br />
  <br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>Identificador</th>
      <th>Codigo</th>
      <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="categoria : ${listCategoria}">
      <td th:text="${listCategoria.idCategoria}">identificador</td>
      <td th:text="${listCategoria.codigo}">Codigo</td>
      <td th:text="${listCategoria.descripcion}">descripcion</td>
      <td><a th:href="@{/cine/actualizar/{id}(id=${listCategoria.idCategoria})}">Actualizar</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{/moduleCine/eliminar/{id}(id=${listCategoria.idCategoria})}">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>